<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ post.title }}</title>
  {%- if options.css_base %}
  <link rel="stylesheet" href="../css/base.css" type="text/css" />
  {%- endif %}
  {%- if options.css_package %}
  <link rel="stylesheet" href="../css/package.css" type="text/css" />
  {%- endif %}
  {%- if options.extra_css %}
  <link rel="stylesheet" href="../css/custom.css" type="text/css" />
  {%- endif %}
</head>
<body>
<h1 class="center">{{ post.title }}</h1>
<div>作者：{{ post.author }}</div>
{%- if post.toc_thumbnail %}
<img class="center" src="../{{ post.toc_thumbnail }}" alt="toc_thumbnail" />
<div class="pagebreak"></div>
{%- endif %}
{{ post.content }}
{%- if not post.last_one %}
<div class="pagebreak"></div>
{%- endif %}
</body>
</html>
